.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 124px;
    height: 36px;
  }

  &__navbar {
    display: flex;
  }
}

.headernavbar {
  display: flex;
  align-items: center;
  list-style: none;
}
